{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
</head>
<body>
    <h1>Edit task</h1>
    <p>You can edit tasks from the following form.</p>
    <form action="{% url 'update' task.id %}" method="post">
        {% csrf_token %}
        <div>
            <label for="titleInput">Title</label><br>
            <input id="titleInput" name="title" type="text"
            placeholder="Input title" value="{{ task.title }}">
        </div>
        <div>
            <label for="dueInput">Due at:</label><br>
            <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at | date:"Y-m-d H:i" }}">
        </div>
        <div>
            <label for="memoInput">Memo</label><br>
            <input id="memoInput" name="memo" type="text" placeholder="Input memo" value="{{ task.memo }}">
        </div>
        <div>
            <label for="difficultySelect">Difficulty:</label><br>
            <select id="difficultySelect" name="difficulty">
                {% for choice in task.DIFFICULTY_CHOICES %}
                <option value="{{ choice.0 }}" {% if task.difficulty == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <br>
</body>

</html>
