{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="{% static 'todo/css/edit.css' %}" rel="stylesheet">
</head>
<body>
    <h1 align="center">Edit task</h1>
    <p>You can edit tasks from the following form.</p>
    <form action="{% url 'update' task.id %}" method="post">
        {% csrf_token %}
        <div>
            <label for="titleInput" class="content">Title</label><br>
            <div class="inputArea">
                <input id="titleInput" name="title" type="text" placeholder="Input title" value="{{ task.title }}">
            </div>
        </div>
        <div>
            <label for="dueInput" class="content">Due at:</label><br>
            <div class="inputArea">
                <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at | date:"Y-m-d H:i" }}">
            </div>
        </div>
        <div>
            <label for="memoInput" class="content">Memo</label><br>
            <div class="inputArea">
                <input id="memoInput" name="memo" type="text" placeholder="Input memo" value="{{ task.memo }}">
            </div>   
        </div>
        <div id="p_button">
            <button type="submit" id="button_style">Submit</button>
        </div>
    </form>
    <br>
    <div class="link">
        <a href="{% url 'detail' task.id %}">Back</a>
    </div>
</body>

</html>