{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="{% static 'todo/css/index.css' %}" rel="stylesheet">
  </head>

  <body>
    <h1 align="center">Sample To Do Application</h1>
    <p>You can submit tasks from the following form.</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput" class="content">Title</label><br>
        <div class="inputArea">
          <input id="titleInput" name="title" type="text" placeholder="Input title">
        </div>
      </div>
      <div>
        <label for="dueInput" class="content">Due at:</label><br>
        <div class="inputArea">  
          <input id="dueInput" name="due_at" type="datetime-local">
        </div>
      </div>
      <div>
        <label for="memoInput" class="content">Memo</label><br>
        <div class="inputArea">
          <input id="memoInput" name="memo" type="text" placeholder="Input memo">
        </div>
      </div>
      <div id="p_button">
        <button type="submit" id="button_style">Submit</button>
      </div>
    </form>
    <br>

    <div class="sort">
      <a href="{% url 'index' %}?order=due">Sort by Due Date</a> |
      <a href="{% url 'index' %}?order=post">Sort by Posted Date</a>
    </div>

    <div class="todos">
      <h1>Tasks</h1>
      {% for task in tasks %}
      <div class="todo">
        <div class="text">
          <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
          <ul>
            <li>Posted at: {{ task.posted_at }}</li>
            {% if task.due_at %} 
            <li>Due at: {{ task.due_at }}</li>
            {% endif %}
            {% if task.completed %} 
            <li>Status: Completed</li>
            {% else %}
            <li>Status: Not Completed</li>
            {% endif %}
            <li>Memo: {{ task.memo }}</li>
          </ul>
          <div class="message">
            {% if task.remaining_time %}
              {% if task.completed %}
                <strong>お疲れさまでした</strong>
              {% else %}
                <strong>締め切りまで：{{ task.remaining_time }}</strong>
              {% endif %}
            {% else %}
              <strong>締め切りを過ぎました</strong>
            {% endif %}
          </div>
        </div>
        <br>
      </div>
      {% endfor %}
    </div>
  </body>

</html>